.prompt {
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem;
    color: inherit;
  }
  
.input {
    font-family: inherit;
    font-size: 3rem;
    margin: 2rem;
    padding: 0.5rem;
    width: 80%;
    border: none;
    background-color: #fffa;
    text-align: center;
    resize: none;
    text-align: bottom;
    border-radius: 4px;
    overflow: hidden;
  }