* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

html {
  font-size: 62.5%; }

body {
  position: relative; }

html {
  font-family: helvetica;
  color: white; }

.title {
  font-weight: 900;
  font-size: 3rem;
  margin: 1.5rem; }

.question {
  font-size: 1.6rem;
  width: 80vw;
  margin-bottom: 1rem; }

@keyframes slideLeft {
  to {
    transform: translateX(-50%); } }

@keyframes fadeOut {
  to {
    opacity: 0; } }

@keyframes fadeIn {
  from {
    transform: translateY(2rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.trans--slideLeft {
  height: 100vh;
  width: 200vw;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%);
  transform: translateX(100%);
  position: absolute;
  z-index: 1000; }
  .trans--slideLeft__1 {
    background-image: linear-gradient(to top right, #081831, #0b1e3d, #122d5a);
    animation: slideLeft 1s cubic-bezier(0.24, 0.77, 0.24, 0.78) forwards, fadeOut 0s 3s forwards; }
  .trans--slideLeft__2 {
    animation: slideLeft 1s cubic-bezier(0.24, 0.77, 0.24, 0.78) 2s forwards, fadeOut 1s 3s forwards;
    z-index: 2000; }

#logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  z-index: 1500; }
  #logo * {
    stroke: #fffe; }

@keyframes line-anim {
  to {
    stroke-dashoffset: 0; } }

.body {
  height: 100vh;
  width: 100vw;
  transition: 2s; }

* {
  overflow: hidden; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input[type="radio"] {
  visibility: hidden; }

.theme-red {
  background: #b62626; }
  .theme-red .results__container--correct .results__answer {
    font-weight: 600;
    background: white;
    color: #791212; }
  .theme-red .results__container--correct .results__players__player {
    font-weight: 600;
    background: white;
    color: #791212; }
    .theme-red .results__container--correct .results__players__player--active {
      background: #791212;
      color: white;
      border: solid 3px white; }
  .theme-red .results__container--correct .results__plusOne {
    color: #791212; }
  .theme-red .results__answer {
    background: #791212; }
  .theme-red .results__players__player {
    background: #791212;
    border: 3px solid #b62626; }
    .theme-red .results__players__player--active {
      border: solid 3px white; }
  .theme-red .btn {
    transition: all 0.3s, transform 0.03s;
    background: #791212; }
    .theme-red .btn:active {
      background: #7a2626; }
  .theme-red input[type="radio"]:checked ~ .btn {
    background: white;
    color: #791212; }

.theme-green {
  background: #108b3f; }
  .theme-green .results__container--correct .results__answer {
    font-weight: 600;
    background: white;
    color: #084921; }
  .theme-green .results__container--correct .results__players__player {
    font-weight: 600;
    background: white;
    color: #084921; }
    .theme-green .results__container--correct .results__players__player--active {
      background: #084921;
      color: white;
      border: solid 3px white; }
  .theme-green .results__container--correct .results__plusOne {
    color: #084921; }
  .theme-green .results__answer {
    background: #084921; }
  .theme-green .results__players__player {
    background: #084921;
    border: 3px solid #108b3f; }
    .theme-green .results__players__player--active {
      border: solid 3px white; }
  .theme-green .btn {
    transition: all 0.3s, transform 0.03s;
    background: #084921; }
    .theme-green .btn:active {
      background: #144b29; }
  .theme-green input[type="radio"]:checked ~ .btn {
    background: white;
    color: #084921; }

.theme-blue {
  background: #104e8b; }
  .theme-blue .results__container--correct .results__answer {
    font-weight: 600;
    background: white;
    color: #0a325a; }
  .theme-blue .results__container--correct .results__players__player {
    font-weight: 600;
    background: white;
    color: #0a325a; }
    .theme-blue .results__container--correct .results__players__player--active {
      background: #0a325a;
      color: white;
      border: solid 3px white; }
  .theme-blue .results__container--correct .results__plusOne {
    color: #0a325a; }
  .theme-blue .results__answer {
    background: #0a325a; }
  .theme-blue .results__players__player {
    background: #0a325a;
    border: 3px solid #104e8b; }
    .theme-blue .results__players__player--active {
      border: solid 3px white; }
  .theme-blue .btn {
    transition: all 0.3s, transform 0.03s;
    background: #0a325a; }
    .theme-blue .btn:active {
      background: #173858; }
  .theme-blue input[type="radio"]:checked ~ .btn {
    background: white;
    color: #0a325a; }

.theme-purple {
  background: #6e1567; }
  .theme-purple .results__container--correct .results__answer {
    font-weight: 600;
    background: white;
    color: #460d41; }
  .theme-purple .results__container--correct .results__players__player {
    font-weight: 600;
    background: white;
    color: #460d41; }
    .theme-purple .results__container--correct .results__players__player--active {
      background: #460d41;
      color: white;
      border: solid 3px white; }
  .theme-purple .results__container--correct .results__plusOne {
    color: #460d41; }
  .theme-purple .results__answer {
    background: #460d41; }
  .theme-purple .results__players__player {
    background: #460d41;
    border: 3px solid #6e1567; }
    .theme-purple .results__players__player--active {
      border: solid 3px white; }
  .theme-purple .btn {
    transition: all 0.3s, transform 0.03s;
    background: #460d41; }
    .theme-purple .btn:active {
      background: #3f133b; }
  .theme-purple input[type="radio"]:checked ~ .btn {
    background: white;
    color: #460d41; }

.results__container {
  position: relative;
  overflow: visible;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  opacity: 0;
  animation: fadeIn forwards;
  animation-duration: 1s; }
  .results__container:last-child {
    margin-bottom: 5rem; }
  .results__container:nth-of-type(1) {
    animation-delay: 2s; }
  .results__container:nth-of-type(2) {
    animation-delay: 2.2s; }
  .results__container:nth-of-type(3) {
    animation-delay: 2.4s; }
  .results__container:nth-of-type(4) {
    animation-delay: 2.6s; }

.results__answer {
  font-size: 1.2rem;
  background-color: blueviolet;
  width: 80vw;
  border-radius: 5px;
  padding: 1rem;
  padding-bottom: 2rem; }

.results__plusOne {
  position: absolute;
  top: -1rem;
  right: 0.5rem;
  font-size: 6rem;
  opacity: 0.3;
  z-index: 10; }

.results__players {
  width: 100%;
  position: absolute;
  top: 3rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible; }
  .results__players__player {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 100rem;
    margin-bottom: -3px; }
    .results__players__player--active {
      z-index: 10; }

.container.waitingScreen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .container.waitingScreen h1 {
    margin-bottom: 50px; }

.avatar {
  width: 20vh;
  height: 20vh;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10vh; }

#upload {
  visibility: hidden; }

.btn:first-child {
  margin-top: 3rem; }

.btn {
  font-size: 1.6rem;
  min-width: 70vw;
  max-width: 70vw;
  border: none;
  margin-bottom: 1rem;
  border-radius: 4px;
  color: white;
  transition: transform 0.1s; }
  .btn:active {
    transform: translateY(2px); }

.login-screen .btn {
  padding: 1rem; }
  .login-screen .btn.submit {
    font-size: 3rem; }

.answer-btn .btn {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  padding: 0; }
  .answer-btn .btn label {
    width: 100%;
    height: 100%;
    padding: 1.5rem; }

.answer-btn {
  opacity: 0;
  animation: fadeIn forwards;
  animation-duration: 1s; }
  .answer-btn:nth-of-type(1) {
    animation-delay: 2s; }
  .answer-btn:nth-of-type(2) {
    animation-delay: 2.2s; }
  .answer-btn:nth-of-type(3) {
    animation-delay: 2.4s; }
  .answer-btn:nth-of-type(4) {
    animation-delay: 2.6s; }

#upload {
  position: fixed; }

.container {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white; }

.prompt {
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem;
  color: inherit; }

.input {
  font-family: inherit;
  font-size: 3rem;
  margin: 2rem;
  padding: 0.5rem;
  width: 80%;
  border: none;
  background-color: #fffa;
  text-align: center;
  resize: none;
  text-align: bottom;
  border-radius: 4px;
  overflow: hidden; }

.timer {
  color: white;
  font-size: 2rem;
  width: 100px;
  height: 100px; }

.score__checkbox {
  visibility: hidden; }
  .score__checkbox * {
    visibility: hidden; }

.score__button {
  position: fixed;
  top: 3rem;
  left: 3rem;
  border-radius: 5px;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; }

.fa-trophy {
  color: red;
  font-size: 2.5rem; }

.scoreScreen {
  position: fixed;
  top: 0;
  padding-top: 10vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 0;
  align-items: center;
  align-content: center;
  z-index: 900; }

.playerInfo {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  background-color: #003585;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px; }
  .playerInfo__avatar {
    margin-left: 10%;
    width: 10%;
    height: auto;
    align-items: center;
    border-radius: 50%;
    object-fit: cover; }
  .playerInfo__name {
    width: 60%; }
  .playerInfo__score {
    width: 20%; }
  .playerInfo__line {
    color: transparent;
    width: 70%; }
