.score{
    &__checkbox{
        visibility:hidden;
        & *{
        visibility:hidden;
        }
    }
    &__button{
        position:fixed;
        top:3rem;
        left:3rem;
        border-radius: 5px;
        height:4rem;
        width:4rem;
        background-color: #fff;
        display: flex;
        // align-content: center;
        align-items: center;
        justify-content: center;
        z-index: 1000
    }
    
}

.fa-trophy{
    color:red;
    font-size: 2.5rem;
}
.scoreScreen{
    position:fixed;
    top:0;
    padding-top:10vh;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 0;
    align-items: center;
    align-content: center;

    z-index: 900;

    
}
.playerInfo{
    width:60%;
    font-size:2rem;
    color:red;
    text-align: center;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__avatar{
        width:10%;
        height:auto;
        align-items: center;
        border-radius:50%;
        object-fit: cover;
    }
    &__name{
        width:80%;
    }
    &__score{
        width:10%;
    }
    //need to remove hr on last child
    // &:last-child{
    //     &__line{
    //         visibility: hidden;
    //     }
    // }
    &__line{
        color:red;
        width:70%;
        margin: 8px;
    }
}