* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: helvetica;
    font-size: 62.5%;
  }
  
  body {
    background-color: #104e8b;
    position: relative;
    color: white;
  }
  .quiplash{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .timer{
    color: white;
    font-size: 2rem;
  }
  
  .container {
    width:100%;
    position: absolute;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-weight: 900;
    font-size: 5rem;
    margin: 2rem;
    color: white;
  }
  
  .prompt {
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem;
    color: inherit;
  }
  
  .input {
    font-family: inherit;
    color: #0b345d;
    margin: 2rem;
    padding: 0.5rem;
    width: 80%;
    border: none;
    background-color: white;
    text-align: center;
    text-area: wrap;
    resize: none;
    text-align: bottom;
    border-radius: 4px;
    overflow: hidden;
  }
  .avatar{
    width:80vw;
    height:80vw;
    align-items: center;
    border-radius:50%;
    object-fit: cover;

  }
  #upload{
    visibility: hidden;
  }

  
  .btn:first-child {
    margin-top: 3rem;
  }
  
  .btn {
    font-size: 1.6rem;
    width: 80%;
    border: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    color: white;
    background-color: #0c3966;
    transition: transform 0.1s;
  }
  
  .btn:active {
    background-color: #0d3f70;
    transform: translateY(2px);
  }
  