.score{
    &__checkbox{
        visibility:hidden;
        & *{
        visibility:hidden;
        }
    }
    &__button{
        position:fixed;
        top:3rem;
        left:3rem;
        border-radius: 5px;
        height:4rem;
        width:4rem;
        background-color: #fff;
        display: flex;
        // align-content: center;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        box-shadow: 0 0 5px #000000;
        transition: transform 0.2s;

        &:active{
            transform: translateY(2px);
            box-shadow:  0 0 3px #000000;

        }
    }
    
}

.fa-trophy{
    color:red;
    font-size: 2.5rem;
}

.scoreScreen{
    position:fixed;
    top:0;
    padding-top:10vh;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 0;
    align-items: center;
    align-content: center;
    opacity:0;
    z-index: 900;

    transition: opacity 1s;
    
    pointer-events: none;
    &.visible{
        opacity: 1;
        pointer-events: auto;

        & .playerInfo{
            transform: translateX(0px);
            opacity:1;
        }
    }

    
}
.playerInfo{
    transition: 1s;
    transform: translateX(-200px);
    opacity: 0;

    width:200vw;
    font-size:2rem;
    // color:red;
    text-align: center;

    // background-image: linear-gradient(rgb(128, 126, 243),rgb(47, 45, 173));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;

    &__name{
        width:60vw;
    }
    &__score{
        width:20vw;
    }
    //need to remove hr on last child
    // &:last-child{
    //     &__line{
    //         visibility: hidden;
    //     }
    // }
    &__line{
        color:transparent;
        width:70%;
        // margin: 8px;
    }
}