html{
    font-family: helvetica;
    color: white;
}

.title {
    font-weight: 900;
    font-size: 3rem;
    margin: 1.5rem;
}
.question{
    font-size:1.5rem;
    width:80vw;
    margin-bottom: 1rem;
}