html{
    font-family: helvetica;
    color: white;
}

.title {
    font-weight: 900;
    font-size: 4rem;
    margin: 2rem;
}
.question{
    font-size:2rem;
    width:80vw;
    margin-bottom: 1rem;
}